@font-face {
	font-family: "Noto Serif Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url("@fontsource-variable/noto-serif/files/noto-serif-latin-wght-normal.woff2") format("woff2-variations");
}

@font-face {
	font-family: "Noto Serif Variable";
	font-style: italic;
	font-display: swap;
	font-weight: 100 900;
	src: url("@fontsource-variable/noto-serif/files/noto-serif-latin-wght-italic.woff2") format("woff2-variations");
}
